* {
  font-family: "JetBrains Mono", monospace;
  box-sizing: border-box;
}

header {
  background-color: #ffff;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  margin: 10px;
}

.logo img {
  width: 80px;
}

.hero-section {
  background-image: url("/assets/images/main-image.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  letter-spacing: -0.25px;
}

.hero-section h1,
.hero-section p {
  cursor: default;
}

.hero-section p {
  font-size: 0.8rem;
  line-height: 1.2;
  padding: 0;
}

.cta-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.cta-link:hover {
  color: black;
}

.cta-button {
  padding: 10px 50px;
  background-color: transparent;
  border: 2px solid red;
  color: white;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto;
}

.cta-button:hover {
  background-color: red;
  border-color: red;
}

.cta-button:hover .cta-link {
  color: black;
}

.title-content-section {
  display: flex;
  justify-content: center;
  background-color: red;
  color: white;
  font-size: 16px;
  cursor: default;
  padding: 2px;
  letter-spacing: -0.25px;
}

.item {
  display: inline-block;
  flex-direction: colum;
  width: 300px;
  height: auto;
  margin: 10px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
}

.item-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 20px 50px;
}

.item-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.item-price {
  margin: 10px 0;
  text-align: center;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex: 1;
}

.item-button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  margin: 5px;
  padding: 10px;
}
