* {
  font-family: "JetBrains Mono", monospace;
  box-sizing: border-box;
}

header {
  background-color: #ffff;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 10px;
}

.logo img {
  width: 200px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/images/main-image.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  letter-spacing: -0.25px;
}

.hero-section h1 {
  font-size: 70px;
  cursor: default;
  margin: 0;
}

.hero-section p {
  max-width: 500px;
  font-size: 1rem;
  line-height: 1.2;
  padding: 0;
  margin: 20px auto;
  cursor: default;
}

.cta-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.cta-link:hover {
  color: black;
}

.cta-button {
  padding: 10px 100px;
  background-color: transparent;
  border: 2px solid red;
  color: white;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto;
}

.cta-button:hover {
  background-color: red;
  border-color: red;
}

.cta-button:hover .cta-link {
  color: black;
}

.title-content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  font-size: 16px;
  cursor: default;
  padding: 2px;
  letter-spacing: -0.25px;
}

.item {
  flex: 1 1 200px;
  display: inline-block;
  flex-direction: colum;
  width: 300px;
  height: auto;
  margin: 10px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  border: 2px solid gray;
  height: 100%;
}

.item-list {
  justify-content: space-around;
  cursor: default;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px 50px;
}

.item-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.item-price {
  margin: 10px 0;
  text-align: center;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex: 1;
}

.item-button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  margin: 5px;
  cursor: pointer;
  padding: 10px 50px;
}

.above-section-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: 2px solid red;
  color: black;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  margin: 50px auto;
  padding: 5px 30px;
  display: block;
  text-align: center;
  font-weight: bold;
}

.mask-purposes {
  text-align: center;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
  align-items: flex-start;
  padding-left: 50px;
}

.mask-purposes h2 {
  font-size: 100px;
  padding: 0;
  margin: 0;
}

.mask-purposes .p-wear {
  text-align: center;
}

.mask-purposes p {
  max-width: 600px;
  font-size: 1rem;
  line-height: 1.2;
  padding: 0;
  margin: 20px auto;
  cursor: default;
  text-align: left;
}

.why-choose-great-mask {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px;
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
}

.why-choose-great-mask h2 {
  flex: 1;
  text-align: left;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.reasons-list {
  flex: 1;
  list-style-type: none;
  text-align: left;
  max-width: 600px;
  padding-left: 20px;
  margin: 0;
}

.reasons-list li {
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-size: 16px;
  border-bottom: solid red;
}

.user-feedback {
  font-size: 40px;
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  text-align: left;
  color: #000;
}

.user-feedback h2 {
  font-size: 50px;
  text-align: left;
  margin-bottom: 40px;
  text-align: left;
  color: #000;
}

.feedback-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.feedback-card {
  background-color: #f4f4f4;
  border: 3px solid red;
  padding: 20px;
  flex: 1 1 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.feedback-card p {
  font-size: 16px;
  color: #333;
}

.feedback-card .user-name {
  font-style: italic;
  margin-top: 10px;
}

.feedback-button {
  background-color: #b30000;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  margin-top: 20px;
  align-self: flex-start;
}

.feedback-button:hover {
  background-color: darkred;
}

.user-purchase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0;
  padding: 10px;
}

.user-purchase h2 {
  font-size: 50px;
  margin: 0;
  flex: 1;
  font-weight: bold;
}

.user-purchase-images {
  display: flex;
  gap: 15px;
}

.glove-image {
  width: 400px;
  height: auto;
  object-fit: cover;
}
